**/.metadata/
**/.settings/
**/bin/
*.classpath
*.project
setup/
lib/
frontWorkspace/resources/
servletWorkspace/Servers/
**/MANIFEST.MF
servletWorkspace/**/.gitignore
servletWorkspace/prj99semi_practice/
