/.metadata/
*.MF
prj05/.classpath
prj05/.project
prj05/.settings/.jsdtscope
prj05/.settings/org.eclipse.core.resources.prefs
prj05/.settings/org.eclipse.wst.common.component
prj05/.settings/org.eclipse.wst.jsdt.ui.superType.container
prj06member/.classpath
prj06member/.settings/.jsdtscope
prj06member/.settings/org.eclipse.core.resources.prefs
*.prefs
*.name
*.container
*.component
*.project
*.jsdtscope
*.classpath
